{% extends "explorer/base.html" %}
{% block content %}
    <h1 class="text-center">Zoeken door de Miljoenennota - VNG</h1>
<div class="alert alert-primary mx-5" role="alert">
Dit hulpmiddel is gemaakt voor de medewerkers van de VNG om de Miljoenennota, de bijlagen bij de miljoenennota en de begrotingen te doorzoeken.
<br><br>
Vul hierboven je zoekwoord in, druk op zoek.
Als resultaat krijg je:
    <ul>
        <li>een wordcloud: een samenvatting van de resultaten op jouw zoekwoord</li>
        <li>een cirkeldiagram: in welke documenten komt jouw zoekwoord voor?</li>
        <li>een overzicht van de zinnen waar je zoekwoord in staat. Onderverdeeld naar de verschillende documenten behorende bij de Miljoenennota.</li>
 </ul>

Om het begrotingshoofdstuk te openen, klik je op de titel van het begrotingshoofdstuk. Hiermee opent de pdf van het betreffende document op de bladzijde waar jouw zoekwoord het eerste wordt genoemd. Klik vervolgens op “volgende” om naar de eerstvolgende ‘hit’ te gaan.
<br><br>
Deze site is tot 31-12-2020 beschikbaar
</div>

{% endblock %}

